.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
  a:link {
    color: #000000;
    text-decoration:none;
    }
    a:visited {
    color: #000000;
    text-decoration:none;
    }
    a:hover {
    color: #000000;
    text-decoration:none;
    }
    a:active {
    color: #000000;
    text-decoration:none;
    }