{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>运维系统</title>
    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
    <link rel="stylesheet" href="{% static "css/bootstp.min.css" %}">
    <link rel="stylesheet" href="{% static "css/xxx.css" %}" />
    <link rel="stylesheet" href="{% static "fontawesome/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "slick/slick.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "slick/slick-theme.css" %}"/>
    <link rel="stylesheet" href="{% static "css/tooplate-style.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-1.10.2.js" %}" ></script>
    <script type="{% static "js/test2.js" %}"></script>
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this in a modern browser such as latest version of Chrome or Microsoft Edge.");</script>

</head>
<body>
    <div id="tm-bg"></div>
    <div id="tm-wrap">
        <div class="tm-main-content">
            <div class="container tm-site-header-container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
                        <div class="left">

                            <a href="http://www.gintong.com/index" target="_blank" ><img src="{% static "img/logo.png" %}" width=40% ></a>

                            <img src="{% static "img/underline.png" %}" class="img-fluid mb-4">
                            <p>欢迎来到北京金桐运维部门主页</p>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" style="word-wrap:break-word; overflow:hidden;">
                        <div class="content">
                            <div class="grid">
                                <div class="grid__item" id="home-link">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-home fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">工作空间</span>
                                            <div class="product__bg"></div>
                                        </div>
                                        <div class="product__description">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <a href="https://192.168.1.2/user/main/" target="_blank" class=""><img src="{% static "img/网康.png" %}" width=28% height=22%></a>
                                                    <a href="https://passport.ucloud.cn/?service=https%3A%2F%2Faccountv2.ucloud.cn%2Fdashboard#login" target="_blank" class=""><img src="{% static "img/ucloud.png" %} " width=28% height=22%></a>
                                                    <a href="http://jenkins.gintong.com/jenkins/" target="_blank" class=""><img src="{% static "img/jenkins.png" %}" width=28% height=22%></a>
                                                    <a href="http://doc.gintong.com/login.action?os_destination=%2Findex.action&permissionViolation=true" target="_blank" class=""><img src="{% static "img/confluence.png" %}" width=28% height=22%></a>
                                                    <a href="http://zabbix.gintong.com/zabbix.php?action=dashboard.view" target="_blank" class=""><img src="{% static "img/zabbix.png" %}" width=28% height=22%></a>
                                                </div>

                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <p>Donec eu lectus ligula. Aenean pulvinar dolor et massa lacinia rhoncus sit amet sed mauris. Aliquam dictum nibh et consequat finibus.</p>

                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In magna mauris, malesuada ut diam eu, pellentesque fringilla orci.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid__item" id="team-link">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-users fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">运维成员</span>
                                            <div class="product__bg"></div>
                                        </div>
                                        <div class="product__description">
                                            <div class="p-sm-4 p-2">
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <h2 class="tm-page-title">成员介绍</h2>
                                                    </div>
                                                </div>
                                                <div class="row tm-reverse-sm">
                                                    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                                        <p>w </p>
                                                    </div>
                                                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
                                                        <img src="{% static "img/team.jpg" %}" class="img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid__item">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                           <i class="fas fa-cog fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">管理设置</span>
                                            <div class="product__bg"></div>
                                        </div>
                                        <div class="product__description">
                                            <div class="p-sm-4 p-2">
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <h2 class="tm-page-title"></h2>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-12">

                                                        <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="名称"  required/>
                                                        <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="链接"  required/>
                                                        <input type="file" id="selectFiles" onchange="dealSelectFiles()" multiple webkitdirectory>
                                                        <canvas id="myCanvas" width=1440 height=900></canvas>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="p-sm-4 p-2 tm-img-container">
                                                            <div class="tm-img-slider" id="tmImgSlider">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid__item">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-comments fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">金桐邮箱</span>
                                            <div class="product__bg"></div>
                                        </div>
                                        <div class="product__description">
                                            <div class="pt-sm-4 pb-sm-4 pl-sm-5 pr-sm-5 pt-2 pb-2 pl-3 pr-3">
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <h2 class="tm-page-title">xxx的金桐邮箱</h2>
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="col-12">
                                                        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Aliquam interdum, nisl sed faucibus tempor, massa velit laoreet ipsum, et faucibus sapien magna at enim. Suspendisse a dictum tortor, vel rhoncus libero.</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <form action="index.html" method="post" class="contact-form">
                                                            <div class="row">
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                                                  <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name"  required/>
                                                                </div>
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6 tm-col-email">
                                                                  <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email"  required/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                              <textarea id="contact_message" name="contact_message" class="form-control" rows="9" placeholder="Message" required></textarea>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary tm-btn-submit">Submit</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .tm-main-content -->
    </div>
    <!-- load JS -->
    <script src="{% static "js/jquery-3.2.1.slim.min.js" %}" ></script>         <!-- https://jquery.com/ -->
    <script src="{% static "slick/slick.min.js "%}" ></script>                  <!-- http://kenwheeler.github.io/slick/ -->
    <script src="{% static "js/anime.min.js "%}" ></script>                     <!-- http://animejs.com/ -->
    <script src="{% static "js/main.js "%}" ></script>
    <script>

        function setupFooter() {
            var pageHeight = $('.tm-site-header-container').height() + $('footer').height() + 100;

            var main = $('.tm-main-content');

            if($(window).height() < pageHeight) {
                main.addClass('tm-footer-relative');
            }
            else {
                main.removeClass('tm-footer-relative');
            }
        }

        /* DOM is ready
        ------------------------------------------------*/
        $(function(){

            setupFooter();

            $(window).resize(function(){
                setupFooter();
            });

            $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright
        });

    </script>

</body>
</html>