{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>金桐运维管理平台</title>
<style type="text/css">
body {
    background-color: #7cccec}
p {color: #ae2312}
</style>
<link rel="stylesheet" type="text/css" href={% static "css/xxx.css" %}>
</head>
<body>
    <div id="Layer1" style="position:absolute; width:100%; height:100%;z-index:-1">
    <img src="{% static "pic/bg-01.jpg" %}"width="100%" height="100%"/>
    </div>
</body>
<body>
    <img src="{% static "pic/logo.png" %}"width="211" height="68"/>
    <div id="container" style="width: 500px">
    <div id="header" style="background-color: {% static "pic/logo.png" %}">
        <h1 style="margin-bottom: 0">=======</h1></div>
    <div id="menu" style="background-color: #7cccec;height:200px;width:100px;float:left;">
        <b>--------</b><br>
        html<br>
        css<br>
        sdad</div>
    <div id="content" style="background-color: {% static "pic/logo.png" %};height:200px;width:400px;float:left;">
        909090</div>
    <div id="footer" style="background-color: {% static "pic/logo.png" %};clear:both;text-align:center;">
        wao</div>
    </div>
</body>
<body>

</body>
</html>